schemas/export.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns="urn:tabulua:table:1"
           targetNamespace="urn:tabulua:table:1"
           elementFormDefault="qualified">

  <!--
    XML Schema for the XML export format used by the Lua game data exporter.
    This format preserves Lua type information with typed XML elements.

    The format lives in the namespace urn:tabulua:table:1 (a version-tagged URN;
    the trailing segment is the format version). The root <file> element and all
    descendants are in this namespace (elementFormDefault="qualified"), which is
    how a reader tells "is this XML ours?".

    Element names are the TabuLua type names -- integer, float, int64 -- the same
    words the typed-JSON tags use ({"integer":..}, {"float":..}, {"int64":..}),
    so one concept has one name across every tagged format.

    Usage: Validate XML files against this schema using any XSD validator.
  -->

  <!-- Root element -->
  <xs:element name="file" type="fileType"/>

  <xs:complexType name="fileType">
    <xs:sequence>
      <xs:element name="header" type="rowType"/>
      <xs:element name="row" type="rowType" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <!-- Row type: sequence of typed values -->
  <xs:complexType name="rowType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="null" type="emptyType"/>
      <xs:element name="true" type="emptyType"/>
      <xs:element name="false" type="emptyType"/>
      <xs:element name="function" type="emptyType"/>
      <xs:element name="string" type="stringType"/>
      <xs:element name="integer" type="integerType"/>
      <xs:element name="int64" type="int64Type"/>
      <xs:element name="float" type="floatType"/>
      <xs:element name="table" type="tableType"/>
    </xs:choice>
  </xs:complexType>

  <!-- Empty element type (for null, true, false, function) -->
  <xs:complexType name="emptyType"/>

  <!-- String type: can be empty or contain text -->
  <xs:simpleType name="stringType">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>

  <!-- Integer type: integer value as text -->
  <xs:simpleType name="integerType">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <!-- Int64 type: a 64-bit integer as canonical decimal text. Distinct from
       integer so an ordinary integer is never read back as an int64 box. -->
  <xs:simpleType name="int64Type">
    <xs:restriction base="xs:integer"/>
  </xs:simpleType>

  <!-- Float type: float value including special values nan, inf, -inf -->
  <xs:simpleType name="floatType">
    <xs:union>
      <xs:simpleType>
        <xs:restriction base="xs:double"/>
      </xs:simpleType>
      <xs:simpleType>
        <xs:restriction base="xs:string">
          <xs:enumeration value="nan"/>
          <xs:enumeration value="inf"/>
          <xs:enumeration value="-inf"/>
        </xs:restriction>
      </xs:simpleType>
    </xs:union>
  </xs:simpleType>

  <!-- Table type: contains values and/or key-value pairs -->
  <xs:complexType name="tableType">
    <xs:choice minOccurs="0" maxOccurs="unbounded">
      <xs:element name="null" type="emptyType"/>
      <xs:element name="true" type="emptyType"/>
      <xs:element name="false" type="emptyType"/>
      <xs:element name="function" type="emptyType"/>
      <xs:element name="string" type="stringType"/>
      <xs:element name="integer" type="integerType"/>
      <xs:element name="int64" type="int64Type"/>
      <xs:element name="float" type="floatType"/>
      <xs:element name="table" type="tableType"/>
      <xs:element name="key_value" type="keyValueType"/>
    </xs:choice>
  </xs:complexType>

  <!-- Key-value pair type: exactly two value elements -->
  <xs:complexType name="keyValueType">
    <xs:sequence>
      <xs:choice>
        <xs:element name="null" type="emptyType"/>
        <xs:element name="true" type="emptyType"/>
        <xs:element name="false" type="emptyType"/>
        <xs:element name="function" type="emptyType"/>
        <xs:element name="string" type="stringType"/>
        <xs:element name="integer" type="integerType"/>
        <xs:element name="int64" type="int64Type"/>
        <xs:element name="float" type="floatType"/>
        <xs:element name="table" type="tableType"/>
      </xs:choice>
      <xs:choice>
        <xs:element name="null" type="emptyType"/>
        <xs:element name="true" type="emptyType"/>
        <xs:element name="false" type="emptyType"/>
        <xs:element name="function" type="emptyType"/>
        <xs:element name="string" type="stringType"/>
        <xs:element name="integer" type="integerType"/>
        <xs:element name="int64" type="int64Type"/>
        <xs:element name="float" type="floatType"/>
        <xs:element name="table" type="tableType"/>
      </xs:choice>
    </xs:sequence>
  </xs:complexType>

</xs:schema>
